<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <div *ngIf="data && data.length > 0" style="display: grid; min-height: 300px">
    <ngx-charts-line-chart [results]="data" [xAxis]="true" [yAxis]="true" [autoScale]="true" [customColors]="customColors">
    </ngx-charts-line-chart>
  </div>
  <div>
    <select type="text" (change)="typeChanged($event.target.value)">
      <option value="Weight" [selected]="eventType == 'Weight'">Weight</option>
      <option value="Length" [selected]="eventType == 'Length'">Length</option>
    </select>
  </div>
  <div *ngIf="pets">
    <select type="number" (change)="petChanged($event.target.value)">
      <option value=0 [selected]="selectedPet == 0">All</option>
      <option *ngFor="let p of pets" value="{{p.id}}" [selected]="selectedPet == p.id">{{p.name}}</option>
    </select>
  </div>
</div>
