<!-- Top Navbar -->
<nav class="navbar navbar-default sticky-top navbar-shadow">
  <div class="navbar-left">
    <div class="navbar-brand">
      <h3 class="logo">Reptilog</h3>
    </div>
  </div>
</nav>

<!-- Page View-->
<div class="page-padding" style="max-width: 1000px; margin: 0 auto">
    <div class="text-center div-top-margin">
      <router-outlet></router-outlet>
    </div>
</div>

<div class="icon-bar fixed-bottom">
  <a class="active" href="#"><img src="./assets/images/white-gecko-resize.png" style="height: 1em"> </a>
  <a href="#"><i class="fa fa-calendar-alt"></i></a>
  <a href="#"><i class="fa fa-chart-line"></i></a>
  <a href="#"><i class="fa fa-user"></i></a>
</div>
