<!-- Top Navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shadow">
  <div class="navbar-left">
    <div class="navbar-brand">
      <h1 class="logo">Text</h1>
    </div>
  </div>
</nav>

<!-- Page View-->
<div class="page-padding">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
    <div class="col-sm-10 col-md-6 col-lg-6 text-center div-bottom-padding div-top-margin">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
  </div>
</div>

