<div class="text-center">
  <form [formGroup]="petForm" novalidate>
    <fieldset class="form-group">
      <input class="form-control" type="text" id="name" formControlName="name" placeholder="Name">
    </fieldset>
    <fieldset class="form-group">
      <label for="image">
        <img class="image-dimensions" [src]="photo">
      </label>
      <input class="custom-hide" type="file" accept="image/jpg, image/jpeg" capture="capture" id="image" (change)="onFileChange($event.target.files[0])">
      <label for="image" class="btn btn-warning btn-block">Upload Image</label>
    </fieldset>
    <fieldset class="form-group">
      <label for="type">Species *</label>
      <select class="form-control" type="text" id="type" formControlName="type">
        <option value="" disabled selected hidden>Select Species...</option>
        <option value="Leopard Gecko">Leopard Gecko</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="morph">Morph</label>
      <input class="form-control" type="text" id="morph" formControlName="morph" placeholder="Morph">
    </fieldset>
    <fieldset class="form-group">
      <label for="hatchDate">Hatch Date</label>
      <input class="form-control" type="date" id="hatchDate" formControlName="hatchDate">
    </fieldset>
    <fieldset class="form-group">
      <label for="color">Color</label>
      <input class="form-control" type="color" id="color" formControlName="color">
    </fieldset>
    <fieldset class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes" formControlName="notes"></textarea>
    </fieldset>
  </form>
</div>
<br>
<div class="row">
  <div class="col">
<a #closeModal class="btn btn-danger btn-block" data-dismiss="modal">Cancel</a>
  </div>
  <div class="col">
<button class="btn btn-success btn-block" (click)="submit()" [disabled]="!petForm.valid">Submit</button>

  </div>
</div>
