<div class="col col-xs-10 text-center bordered bg-white">
  <br>
  <fieldset>
    <legend>
      <div class="float-left">
      Name
      </div>
    </legend>
    <div class="col-xs-10 row">
      <div class="btn-toolbar">
      <div class="btn-group mr-2">
      <a class="btn btn-warning">Feed</a>
      </div>
      <div class="btn-group mr-2">
      <a class="btn btn-primary">Weigh</a>
      </div>
        <div class="btn-group">
      <a class="btn btn-primary">Shed</a>
        </div>
      </div>
    </div>
  </fieldset>
</div>
