<div *ngIf="pets.length > 0">
  <div *ngFor="let p of pets">
    <div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
      <br>
      <fieldset>
        <div class="float-left">
          <h4>{{p.name}}</h4>
        </div>
        <div class="float-right btn-top-margin dropdown">
          <a class="btn btn-warning">View</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Quick Actions
            <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Weigh</a></li>
            <li><a class="dropdown-item">Feed</a></li>
            <li><a class="dropdown-item">Shed</a></li>
          </ul>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<div *ngIf="pets.length === 0">
  <div class="col-xs-12 bordered bg-white  text-center">
    <h3>Add a pet to get started!</h3>
  </div>
</div>
<div>
  <a class="col col-xs-10 text-center div-bottom-padding btn btn-primary" data-toggle="modal" data-target="#addModal">Add Pet</a>
</div>

<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg bg-white">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2>Add a Pet</h2>
      </div>
      <div class="modal-body">
        <app-add-pet></app-add-pet>
      </div>
    </div>
  </div>
</div>

