<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <br>
  <fieldset>
    <div class="float-left">
      <h5>Name</h5>
    </div>
    <div class="float-right">
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <a class="btn btn-warning">Feed</a>
        </div>
        <div class="btn-group mr-2">
          <a class="btn btn-primary">Weigh</a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary">Shed</a>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <br>
  <fieldset>
    <div class="float-left">
      <h5>Name</h5>
    </div>
    <div class="float-right">
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <a class="btn btn-warning">Feed</a>
        </div>
        <div class="btn-group mr-2">
          <a class="btn btn-primary">Weigh</a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary">Shed</a>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <br>
  <fieldset>
    <div class="float-left">
      <h5>Name</h5>
    </div>
    <div class="float-right">
      <div class="btn-toolbar">
        <div class="btn-group mr-2">
          <a class="btn btn-warning">Feed</a>
        </div>
        <div class="btn-group mr-2">
          <a class="btn btn-primary">Weigh</a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary">Shed</a>
        </div>
      </div>
    </div>
  </fieldset>
</div>
