<div class="icon-bar fixed-bottom">
  <a routerLink="/pets" routerLinkActive="footer-active"><img src="./assets/images/white-gecko-resize.png" style="height: 1em"> </a>
  <a routerLink="/calendar/{{petService.petInContext}}" routerLinkActive="footer-active"><i class="fa fa-calendar-alt"></i></a>
  <a routerLink="/charts/{{petService.petInContext}}" routerLinkActive="footer-active"><i class="fa fa-chart-line"></i></a>
  <a routerLink="/othertest" routerLinkActive="footer-active"><i class="fa fa-user"></i></a>
</div>
