<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <h2>{{pet.name}}</h2>
  <h4><span *ngIf="pet.size">{{pet.size}} </span><span *ngIf="pet.morph">{{pet.morph}} </span>{{pet.type}}</h4>
  <div>
        <img *ngIf="pet"
             src="https://s3.us-east-2.amazonaws.com/reptilog-images/images/{{petId}}/{{pet.image}}" height="100%" width="100%">
    <div class="row">
      <div class="col" style="text-align: left">
        <h6>Last Weight: Unknown</h6>
      </div>
      <div class="col" style="text-align: right">
        <h6>Last Length: Unknown</h6>
      </div>
    </div>
  </div>
</div>
