<div class="col col-xs-10 text-center div-bottom-padding bordered bg-white">
  <div class="row">
    <div class="col col-xs-5">
      <div class="image-padding">
        <img *ngIf="pet" class="image-dimensions"
             src="https://s3.us-east-2.amazonaws.com/reptilog-images/images/{{petId}}/{{pet.image}}">
      </div>
    </div>
    <div *ngIf="pet" class="col col-xs-5">
      <div>
        <h3>{{pet.name}}</h3>
      </div>
      <hr>
      <div style="text-align: left">
        <h6>Species: {{pet.type}}</h6>
        <h6 *ngIf="pet.size">Size: {{pet.size}}</h6>
        <h6>Morph: {{pet.morph || "Unknown"}}</h6>
        <h6>Hatch Date: {{pet.hatchDate || "Unknown"}}</h6>
      </div>
    </div>
  </div>
</div>
